<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= locals.title ?? "Mini Message-Board" %></title>
</head>
<body>
    <h1><%= locals.title ?? "Mini Message-Board" %> </h1>
    <div class="messages">
    <% messages.map(message=>{ %>
        <div class="message-box">
            <div class="message-user"><%= message.user %> </div>
            <p class="message-text"><%= message.text %> </p>
            <div class="message-time"><%= message.added %> </div>
        </div>
    <% }) %> 
    </div>
</body>
</html>